.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #db7280; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 0.9s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
#navbarNav a {
	border: solid 1px white;
	width: fit-content;
	color: white;
}

.article {
	height: fit-content !important;
}
.bi-search {
	transform: scaleX(-1);
	border: black 1px solid;
	border-radius: 3px;
}
#amazingLogo {
	height: 7vh;
	width: 100%;
}
.hoverNav {
	cursor: pointer;
	position: relative;
	padding: 10px 20px;
	font-size: 15px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: all 1s;
}
.hoverNav:after,
.hoverNav:before {
	content: " ";
	width: 10px;
	height: 10px;
	position: absolute;
	border: 0px solid rgb(255, 255, 255);
	transition: all 1s;
}
.hoverNav:after {
	top: -1px;
	left: -1px;
	border-top: 5px solid rgb(255, 255, 255);
	border-left: 5px solid rgb(255, 255, 255);
}
.hoverNav:before {
	bottom: -1px;
	right: -1px;
	border-bottom: 5px solid rgb(255, 255, 255);
	border-right: 5px solid rgb(255, 255, 255);
}
.hoverNav:hover {
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.hoverNav:hover:before,
.hoverNav:hover:after {
	width: 100%;
	height: 100%;
}
#active {
	background-color: black !important;
}
.card {
	width: 20vw;
}
#navbarNav li {
	display: flex;
	justify-content: center;
	align-items: center;
}
.bold {
	font-weight: bold;
}
header {
	background: #232526;
	background: -webkit-linear-gradient(to left, #414345, #232526);
	background: linear-gradient(to left, #414345, #232526);
}
h1 {
	font-family: "Cinzel", serif;
	text-decoration: underline;
}
.divmainContact {
	min-height: 50rem;
}
.sectionForm form {
	width: 30vw;
}
.form-control {
	width: 30vw !important;
}
.wpIcon {
	background-image: url(../images/whatsapp-icon.png);

	height: 60px;
	width: 60px;
	display: inline-block;
	border-radius: 30px;
	background-size: contain;
	background-repeat: no-repeat;
}
.igIcon {
	background-image: url(../images/instagram-icon.png);

	height: 66px;
	width: 90px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}
.fbIcon {
	background-image: url(../images/fb-icon.png);
	height: 59px;
	width: 60px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}

main {
	min-height: 88.7vh !important;
}
.mainStats {
	min-height: 89vh !important;
}

footer {
	background-color: lightslategray;
}
#search {
	border-radius: 5px;
}

.sectionTable {
	height: fit-content;
}
body {
	background-image: url(../images/minimalism_geometric_landscape_124072_3840x2400.jpg);
}
.detailImg img {
	box-shadow: -12px -9px 5px 0px rgba(0, 0, 0, 0.75);
	width: 25rem;
}
tr {
	height: 30px;
}
table,
th,
tr,
td,
thead {
	border: 1px solid black;
	padding: 5px;
	min-height: 50px;
	background-color: rgba(228, 199, 199, 0.308);
}
table th {
	font-size: 30px;
}
th {
	background-color: #ab6d82a6;
}
.card:hover {
	border: 3px solid #00838d;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
	z-index: 500;
}
.btn {
	background-color: #febc66;
	color: black;
	border: none;
}
.btn:hover {
	background-color: #db7280;
}
.heightSection {
	height: 29rem;
	background-color: #d2d3c788;
}
.detailP,
.detailImg {
	background-color: #e18e659f !important;
}
#btnContact:hover {
	border: 1px solid black;
}

form > fieldset {
	width: fit-content !important;
	gap: 0px !important;
	flex-wrap: wrap;
	margin: 0px !important;
}

@media screen and (max-width: 992px) {
	#navbarNav a {
		background-color: transparent;
		border: none;
		width: fit-content;
	}
	.card {
		width: 15rem !important;
	}
	.article {
		flex-wrap: wrap;
		height: 10rem;
		gap: 0px;
	}
	.article form {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	form > fieldset {
		width: fit-content !important;
		gap: 0px !important;
		flex-wrap: wrap;
		margin: 0px !important;
	}

	.sectionForm {
		align-items: start !important;
		width: 100%;
	}

	.sectionForm input {
		width: 100vw !important;
	}
	.messageInput {
		width: 100vw !important;
	}
	.heightSection {
		flex-wrap: wrap;
		height: fit-content;
	}
	.detailImg img {
		height: 20vh;
	}
	.heightSection {
		width: 100%;
	}
	.detailImg {
		width: 100% !important;
	}
	.detailP {
		width: 100% !important;
	}
	.sectionTable {
		height: fit-content;
	}
	.icons {
		gap: 0 !important;
	}
	.wpIcon,
	.fbIcon,
	.igIcon {
		margin-right: 10px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1327px) {
	.fieldsetSearch {
		margin-left: 16rem !important;
	}
}
